// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #243841;
}


// Carousel

#first-carousel{
 margin-top: 40px;
 margin-bottom: 15px;
}

.carousel-inner{
  height: 400px;
}

// Cocktails-grid

.cocktails-container {
  margin-top: 30px;
}

.cocktails-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cocktails-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cocktails-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cocktails-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cocktails-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cocktails-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// show
.cocktail-indiv h4{
  padding-bottom: 15px;
}
.cocktail-indiv {
  color: #ffffff;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cocktail-indiv-form{
  color: #FFFFFF;
  margin: 20px;
}

.home-btn {
  margin: 20px;
}
